<div>
	<h2>Users</h2>

	<div ng-if="users.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="users.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Telephone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.firstname}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.telephone}}</td>
					<td><a class="btn btn-primary" href="#/user/{{user.id}}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
